# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# xcode project files
xcuserdata/

# VS Garbage
*.sdf
*.opendb
*.user
win/.vs
win/Win32
*.aps
*.suo
*.ncb
*.vcproj.*

# wdl-ol recommends
*.zip
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*

Icon?
.DS_Stor*
