// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,0,1
 PRODUCTVERSION 1,1,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "FileVersion", "1.1.0.1"
            VALUE "ProductVersion", "1.1.0.1"
            VALUE "OriginalFilename", "evaluator.vst3"
            VALUE "FileDescription", "Evaluator VST3-SDK"
            VALUE "InternalName", "Evaluator VST3-SDK"
            VALUE "ProductName", "Evaluator VST3-SDK"
            VALUE "CompanyName", "Compartmental"
            VALUE "LegalCopyright", "© 2016 Compartmental"
            VALUE "LegalTrademarks", "VST is a trademark of Steinberg Media Technologies GmbH"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// PNG
//

IDB_PNG1                PNG                     "S:\\dev\\VST3_SDK\\public.sdk\\samples\\vst\\evaluator\\interface\\background.png"

IDB_PNG2                PNG                     "S:\\dev\\VST3_SDK\\public.sdk\\samples\\vst\\evaluator\\interface\\vslider_background.png"

IDB_PNG3                PNG                     "S:\\dev\\VST3_SDK\\public.sdk\\samples\\vst\\evaluator\\interface\\vslider_handle.png"

IDB_PNG4                PNG                     "S:\\dev\\VST3_SDK\\public.sdk\\samples\\vst\\evaluator\\interface\\numberbox_arrow_up.png"

IDB_PNG5                PNG                     "S:\\dev\\VST3_SDK\\public.sdk\\samples\\vst\\evaluator\\interface\\numberbox_arrow_down.png"

IDB_PNG6                PNG                     "S:\\dev\\VST3_SDK\\public.sdk\\samples\\vst\\evaluator\\interface\\numberbox_background.png"

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

